<div *ngIf="results" class="container">
    <img src="{{results.imageUrl}}" alt=""/>
  
    <div class="details">
      <div class="header">
        <span class="name">
          Name: {{results.recipeName}}
        </span>
      </div>
      
      <div class="description">
        <span>
          Steps: {{results.description}}
        </span>
      </div>
  
      <div class="Calories">
        <span>
          Calorie count:{{results.calorie}}
        </span>
      </div>
  
      <div class="cook-time">
        <span>
          Time to cook: <strong>{{results.cookTime}}</strong>
        </span>
      </div>
    </div>
  </div>
  