<div *ngIf="results[1]" class="container">
    <img src="/assets/images/food-2.jpg" alt=""/>
  
    <div class="details">
      <div class="header">
        <span class="name">
          Name: {{results[1].recipeName}}
        </span>
      </div>
      
      <div class="description">
        <span>
          Steps: {{results[1].description}}
        </span>
      </div>
  
      <div class="Calories">
        <span>
          Calorie count:{{results[1].calorie}}
        </span>
      </div>
  
      <div class="cook-time">
        <span>
          Time to cook: <strong>{{results[1].cookTime}}</strong>
        </span>
      </div>
    </div>
  </div>
  