<!-- <app-search></app-search> -->
<div class="Foodlist" 
  *ngFor="let data of results; let i = index">
  <!-- Default panel contents -->
  <a href="http://localhost:4200/food-page"><img [src]="data.imageUrl" [alt]="data.recipeName" width="300" height="300"/></a>
  <h4 class="panel-heading"><a>{{data.recipeName}}</a></h4>
  <div class="panel-body">
</div>
  

  <!-- 
  <table class="table" style="font-size:10pt;">
    <tbody>
      <tr>
        <td>Due: <span>{{list.due}}</span></td>
        <td align="right">Items: <span class="badge">{{list.items}}</span></td>
      </tr>
    </tbody>
  </table>
-->
</div>