<header>
    <div class="container">
      <a routerLink="/" class="logo">Cook Right Away!</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li class="menu-container">
            <a routerLink="/dashboard">Menu</a>
            <div class="menu">
              <a routerLink={{userProfile(1)}}>Profile</a>
              <a routerLink={{userRecipes(1)}} routerLinkActive = "active">Recipes</a>
              <a>Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>