<h3 class="panel-heading">Recipes</h3>
  
<div class="panel panel-default"
*ngFor="let data of results; let i = index">
<img src={{data.imageUrl}} alt=""/>
  <!-- Default panel contents -->
  <div class="details">
    <div class="header">
      <span class="name">
        Name: {{data.recipeName}}
      </span>
    </div>
    <div class="description">
      <span>
        Steps: {{data.description}}
      </span>
    </div>

    <div class="Calories">
      <span>
        Calorie count:{{data.calorie}}
      </span>
    </div>

    <div class="cook-time">
      <span>
        Time to cook: <strong>{{data.cookTime}}</strong>
      </span>
    </div>
  </div>
</div>
